<section>
    <h1 style="text-align:center; background: #d279a6; color: white">Technical Skills</h1>
    <table style="width:100%">
        <sly data-sly-list.props="${resource.getChildren}">
            <sly data-sly-test="${props.name == 'skillsList'}"
                 data-sly-list.skillitem="${props.getChildren}">
                <tr>
                    <td style="width:45%">${skillitem.skill}</td>
                    <td style="width:45%; text-align:right">${skillitem.level}</td>
                </tr>
            </sly>
        </sly>
    </table>
</section>