<div data-sly-resource="${'basicdetails' @ resourceType='VamsiKrishna/components/basicdetails'}"></div>
<div data-sly-resource="${'tad' @ resourceType='VamsiKrishna/components/tad'}"></div>
<div data-sly-resource="${'educationdetails' @ resourceType='VamsiKrishna/components/educationdetails'}"></div>
<diV>
    <table style="width:100%">
        <tr>
            <td style="width:30%; vertical-align: top;" data-sly-resource="${'skills' @ resourceType='VamsiKrishna/components/skills'}"></td>
            <td style="width:60%; vertical-align: top;" data-sly-resource="${'summary' @ resourceType='VamsiKrishna/components/summary'}"></td>
        </tr>
    </table>
</diV>
<diV data-sly-resource="${'workexperience' @ resourceType='VamsiKrishna/components/workexperience'}"></diV>